img{
    width: 100%;
}

.imagen{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;  /* Esto lo que hace es que la imagen no se vea al girarla */
    -webkit-backface-visibility: hidden;
}

div.lobo{
    position: relative;
    width: 80%;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.19);
    margin-top: 35px;
}

div.texto{
    text-align: center;
    font-size: 20px;
    padding: 10px 10px;
}

div.texto_lobo{
    transition: .5 ease;
    -webkit-transition: .5 ease;
    -moz-transition: .5 ease;
    -ms-transition: .5 ease;
    -o-transition: .5 ease;

    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lobo:hover .imagen{
    opacity: 0.3;
}

.lobo:hover .texto_lobo{
    opacity: 1;
}

.efect_text{
    background-color: red;
    color: white;
    font-size: 38px;
    padding: 6px 22px;
    border-radius: 10px;
}